<html>
	<head>
		<meta charset="utf-8">
		<title>My Blog</title>
		<link rel="stylesheet" href="public/styles/index.css">
		<link rel="stylesheet" href="public/styles/main.css">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<script src="public/scripts/script.js"></script>
</head>

	<body>
		<header class="header">
			<nav class="nav">
			<div class="logo">
				<h3>the simple blog</h3>
			</div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/create">Create</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>

	</body>
</html>
