<html>
	<head>
		<meta charset="utf-8">
		<title>My Blog</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/create.css">

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>

	<body>
		<%- include('parts/header') %> 
		
		<div class="container">
             
			<form id="create-form" >
				<input id="input-title" type="text" name="title" placeholder="Title" required>
				<textarea id="input-content" type="text" name="content" placeholder="Content" required></textarea>
				<input id="input-category" type="text" name="category" placeholder="Category" required>
				<input id="input-author" type="text" name="author" placeholder="Author" required>
				<button type="submit" id="btn-create" class="default-btn">Create</button>
			</form>

		</div>
	<script src="/scripts/validations.js"></script>
	</body>
</html>
