
form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}
input, textarea, select{
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
    width: 30vw;
    padding-left: 10px;
    padding-right: 10px;
    color: #666666;
    background-color: white;
}

input[data-state="invalid"] {
    border-color: hsl(0, 76%, 50%);;
  }
  
textarea{
    min-height: 300px;
    resize: none;
    text-align: justify;
    padding-top: 10px;
  
}
@media(max-width: 800px){
    input, textarea, select{
        width: 60vw;
       
    }
}