
/* ** Content ** */

.container{

	background-color: white;
	height: 85vh;
	width: 70vw;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 15vh;	
	border-radius: 20px 20px 0px 0px;
	-webkit-box-shadow: 0px -1px 7px -1px rgba(140,140,140,1);
	-moz-box-shadow: 0px -1px 7px -1px rgba(140,140,140,1);
	box-shadow: 0px -1px 7px -1px rgba(140,140,140,1);
}

.page{
	align-items: center;
	display: grid;
	margin: 48px auto 0 auto;
	grid-row-gap: 50px;
	width: 90vw;
	
}

/* row-1 */
.row{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-box{
	width: 455px;
	height: 35px;
	background: #FFFFFF;
	border: 0.3px solid #8F8F8F;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search-input{
	width: 410px;
	height: 20px;
	border: none;
	border-style: none;
	padding-left: 10px;
}

.search-img{
	width: 20px;
	height: 20px;
	padding-right: 10px;
/*	filter: invert(84%) sepia(4%) saturate(7%) hue-rotate(333deg) brightness(92%) contrast(88%);
	/*filtes: change svg color, font-> https://codepen.io/sosuke/pen/Pjoqqp*/
	filter: invert(19%) sepia(6%) saturate(10%) hue-rotate(346deg) brightness(96%) contrast(81%);

}
.dropdown-btn {
	font-size: 16px;
	cursor: pointer;
	background: #FFFFFF;
	height: 35px;
	width: 100px;
	color: #000000;
	border: 0.3px solid #8F8F8F;
	box-sizing: border-box;
	border-radius: 10px;
}
.dropdown-btn:hover{
	background: #FFFFFF;
}
.dropdown-content{
display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}
.dropdown-content a{
 color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.show
{
	display: block;
}
.post-list{
	display: grid; 
	gap: 2rem;
	grid-template-columns: repeat(4, 1fr)

}
.post-box{
	height: 330px;
	background: #FFFFFF;
	border: 0.5px solid #E4E4E4;
	box-sizing: border-box;
	border-radius: 20px;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	max-width: 331.94px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.post-buttons{
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.img-box:hover{
	background: #F0F2F5;

}
.img-box{
    border: 0.5px solid #E1E3E6;
    border-radius: 5px;
	background-color: #FFFFFF;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    transition: all .2s;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.post-box:hover{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post-title{
	font-size: 1.5rem;
	align-self: center;
	cursor: pointer;
	user-select: none;
	color: #232323;
    text-decoration: blink;
	font-weight: bold;
	
}
.content-box{
	display: flex;
	justify-content: center;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-wrap: wrap;
	height: 160px
}
.title-box{
	display: flex;
	text-align: center;
	justify-content: left;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-wrap: wrap;
}
.p-content{
	text-align: justify;
	/*-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;*/
   user-select: none;
   overflow-wrap: anywhere;
   display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}
.p-date{
	align-self: center;
	user-select: none;
}
/** Modal **/
.modal-wrapper{
	visibility: hidden;
	opacity: 0;
}
.modal-wrapper.on{
	height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;

}
.modal{
	background: #FFFFFF;
    border-radius: 0.313rem;
    padding: 2.5rem; 
	width: 400px;
	height: 250px;
    text-align: center;
    color: #232323;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
}
.modal footer{
	display: flex;
	gap: 30px;
}
.modal .modal-title{
	color: #232323;
	font-size: 38px;
	padding: 0;
}
.modal .modal-img{
	filter: invert(19%) sepia(6%) saturate(10%) hue-rotate(346deg) brightness(96%) contrast(81%);
	width: 48px;
	height: 48px;
}
.modal .btn-cancel{
	background-color: #E1E3E6;
	color: #787880;
}
.modal .btn-cancel:hover{
	background: rgb(236, 238, 240);
}

/*****************/
@media (max-width: 1400px){
	.post-list{
		grid-template-columns: repeat(3,1fr);
	}
}
@media (max-width: 1040px){
	.post-list{
		grid-template-columns: repeat(2,1fr);
	}
}
@media(max-width: 800px){
	.post-list{
		grid-template-columns: 1fr;
		margin: 0 auto;
	}
	.post-box{
		width: 350px;
	}
	.row{
		justify-content: space-evenly;
		row-gap: 20px;
	}
	.search-box{
		width:  250px;
	}
	.search-input{
		width: 200px;
	}
}

